video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; 
z-index: -100;
background: url() no-repeat;
background-size: cover;
}
video { display: block; }
  *
.menu {
  float:left;
  width:25%;
  text-align:center;
}
.menu a {
  background: linear-gradient(#00ff00, #009900);
  padding:8px;
  margin-top:15px;
  display:block;
  width:100%;
  color:white;
  font-size:20px;
}
.main {
  float:left;
  width:50%;
  padding:0 20px;
}
.right {
  background-color:#009900;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

@media only screen and (max-width:640px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}
.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1ad608), color-stop(1, #029102));
	background:-moz-linear-gradient(top, #1ad608 5%, #029102 100%);
	background:-webkit-linear-gradient(top, #1ad608 5%, #029102 100%);
	background:-o-linear-gradient(top, #1ad608 5%, #029102 100%);
	background:-ms-linear-gradient(top, #1ad608 5%, #029102 100%);
	background:linear-gradient(to bottom, #1ad608 5%, #029102 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ad608', endColorstr='#029102',GradientType=0);
	background-color:#1ad608;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #029102), color-stop(1, #1ad608));
	background:-moz-linear-gradient(top, #029102 5%, #1ad608 100%);
	background:-webkit-linear-gradient(top, #029102 5%, #1ad608 100%);
	background:-o-linear-gradient(top, #029102 5%, #1ad608 100%);
	background:-ms-linear-gradient(top, #029102 5%, #1ad608 100%);
	background:linear-gradient(to bottom, #029102 5%, #1ad608 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#029102', endColorstr='#1ad608',GradientType=0);
	background-color:#029102;
}
.myButton:active {
	position:relative;
	top:1px;
}
.footer {
   
   position: top;
   margin: 10px;
   padding:0 20px;
   bottom: 0;
   width: 95%;
   color: white;
   text-align: center;
   
}
